
body {
    background-color:black;
    font-family:arial;
    color:white;  
}

h1{
    color:grey;
    font-family:verdana;
    margin: 20px 5px 20px 5px;
}

.maindiv {
    margin: 100px;
}
.content-div{
    background-color:white;
    color:black;
    width:500px; 
    padding: 20px;
    border-radius:25px;
    font-weight: bolder;
}

.bg-color{
    background-color: yellow;
}
    
.form-div{
    margin-left: 70px;
}

.form-style{
    margin: 10px 0px 10px 10px ;
    text-align: left;
} 

.footer-style{
    margin:20px 5px 20px 5px ;
    
}


